# Python cache / bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# cache files
*pinterest_images.json
*pinterest_objects.json
*prompts_cache.json